[Unit]
Description=Gunicorn instance to serve myproject
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/projeto/despachante
Environment="PATH=/projeto/despachante/bin"
ExecStart=/projeto/despachante/.venv/bin/gunicorn --workers 3 --bind unix:myproject.sock -m 007 app:create_app

[Install]
WantedBy=multi-user.target
