{% extends admin_base_template %}
{% block body %}

<div class="row mb-3">
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-12 py-2">
        <div class="card bg-success text-white h-100">
            <div class="card-body bg-success">
                <div class="rotate">
                    <i class="fa fa-user fa-4x"></i>
                </div>
                <h6 class="text-uppercase">Usuários Cadastrados</h6>
                <h1 class="display-4">{{report.users}}</h1>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-12 py-2">
        <div class="card text-white bg-info h-100">
            <div class="card-body bg-info">
                <div class="rotate">
                    <i class="fa fa-list fa-4x"></i>
                </div>
                <h6 class="text-uppercase">Viatura Disponível</h6>
                <h1 class="display-4">{{report.viatura}}</h1>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-12 py-2">
        <div class="card text-white bg-warning h-100">
            <div class="card-body bg-warning">
                <div class="rotate">
                    <i class="fa fa-briefcase fa-4x"></i>
                </div>
                <h6 class="text-uppercase">Missões - Em Andamento </h6>
                <h1 class="display-4">{{report.missao}}</h1>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <br />
      <a href="/admin/missao/new/?url=%2Fadmin%2Fmissao%2F">
        <input class="btn btn-success"  type="button" value="Criar Missão">
      </a>
    </div>
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h3>Últimas Missões Em Andamento</h3>

        <table class="table table-striped table-hover ">
          <thead>
            <tr>
              <th>Ficha</th>
              <th>Motorista</th>
              <th>Viatura</th>
              <th>Missão</th>
              <th>Data/Hora Saída</th>
              <th>Status</th>
              <th>Finalizar Missão</th>
            </tr>
          </thead>
          <tbody>
            {% for missao in missao_controller.result %}
                <tr>
                  <td>{{missao.ficha}}</td>
                  <td>{{missao.motorista}}</td>
                  <td>{{missao.viatura}}</td>
                  <td>{{missao.missao}}</td>
                  <td>{{missao.data_saida}}</td>
                  <td>{{missao.status}}</td>
                  <td>
                       <a href="/admin/missao/edit/?id={{missao.id}}">Finalizar </a>

                  </td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>

    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h3>Últimas Missões Previstas</h3>

        <table class="table table-striped table-hover ">
          <thead>
            <tr>
              <th>Ficha</th>
              <th>Viatura</th>
              <th>Missão</th>
              <th>Previsão</th>
              <th>Status</th>
              <th>Alterar Missão</th>
            </tr>
          </thead>
          <tbody>
            {% for missao in missao_prevista_controller.result %}
                <tr>
                  <td>{{missao.ficha}}</td>
                  <td>{{missao.viatura}}</td>
                  <td>{{missao.missao}}</td>
                  <td>{{missao.data_saida}}</td>
                  <td>{{missao.status}}</td>
                  <td>
                      <a href="/admin/missao/edit/?id={{missao.id}}">Alterar</a>

                  </td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
</div>
{% endblock %}
