{% import 'etp40/aside.html' as macros %}
{% import 'etp40/header.html' as header %}
{% import 'etp40/section.html' as section %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Forms / Elements - NiceAdmin Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/img/favicon.png" rel="icon">
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="static/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin
  * Updated: May 30 2023 with Bootstrap v5.3.0
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sweetalert2.min.css') }}">
  <script src="{{ url_for('static', filename='ckeditor/ckeditor.js') }}"></script>
</head>

<body>

  <!-- ======= Header ======= -->
  {{ header.pagina_header('solucao-nav', 'estimativa-valor', current_user) }}
  <!-- ======= End Header ======= -->


  <!-- ======= Sidebar ======= -->
  {{ macros.pagina_estatica('solucao-nav', 'estimativa-valor') }}
  <!-- ======= End Sidebar ======= -->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Estimativa do Valor da Contratação</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/etp40">Início</a></li>
          <li class="breadcrumb-item">Solução</li>
          <li class="breadcrumb-item active">Estimativa do Valor da Contratação</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <!-- ======= Section ======= -->
    {%if session['status'] =='editar'%}
   
    <!-- ======= Section ======= -->
    {{ section.pagina_estatica('/solucao7-40','/salvar_edicao','8', '/solucao9-40') }}
    <!-- ======= End Section ======= -->
    {%else%}
      <!-- ======= Section ======= -->
      {{ section.pagina_estatica('/solucao7-40', '/solucao9-40','8') }}
      <!-- ======= End Section ======= -->
    {%endif%}
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>ETP DIGITAL</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.6/jquery.inputmask.min.js"></script>

  <script>
    $(document).ready(function () {
      // Função para validar o valor
      function validarValor() {
        var valorInput = document.getElementById('valor').value;
        var valorNumerico = parseFloat(valorInput.replace(/[^\d,]/g, '').replace(',', '.'));
         
        if (valorNumerico <= 57208.33) {
          Swal.fire({
            icon: 'warning',
            title: 'Valor Informado Não Necessita de ETP',
            html: `
              <div style="max-height: 400px; overflow-y: auto;">
                <p> Conforme valor informado anteriormente, segundo o inciso II do Art. 75 da Lei 14.1333, o uso do ETP fica dispensado, podendo ser utilizado o modelo de Dispensa de Licitação para aquisição de bens e serviços de TIC. <br/> Deseja Continuar?</p>
              </div>
            `,
            showCancelButton: true,
            confirmButtonText: 'Concordo Seguir',
            cancelButtonText: 'Não Concordo'
          }).then(function (result) {
            if (result.isConfirmed) {
              //document.getElementById('confirmacao-form').submit();
            } else {
              window.location.href = '/';
            }
          });
        }
      }

      // Aplica a máscara de valor em reais ao campo de entrada
      $('#valor').inputmask('currency', {
        prefix: 'R$ ',
        groupSeparator: '.',
        radixPoint: ',',
        autoGroup: true,
        digits: 2,
        rightAlign: false
      });

      // Event listener para o campo de entrada
      document.getElementById('valor').addEventListener('blur', validarValor);

      // Event listener para capturar o pressionar da tecla "Enter"
      document.addEventListener('keydown', function (event) {
        if (event.key === 'Enter') {
          event.preventDefault(); // Impede o envio do formulário

          validarValor(); // Chama a função de validação
        }
      });
    });
  </script>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const showTermsAndConditions = async () => {
        const { value: accept } = await Swal.fire({
          title: 'Preenchendo a Estimativa do Valor da Contratação',
          html: `
                <div style="max-height: 400px; overflow-y: auto; align: left; ">
                    
                    <p> Neste item, é obrigatório que você estime o valor da contratação, acompanhado dos preços unitários referenciais, das memórias de cálculo e dos documentos que lhe dão suporte, que poderão constar de anexo classificado, se a administração optar por preservar o seu sigilo até a conclusão da licitação (inciso, VI, IN 40/2020). De acordo com o art. 7°, §2°, este campo é obrigatório. <br />
                                      Obs.: O preenchimento desse campo no que se refere ao valor aproximado da contratação, deve conter apenas números interiros sem casas decimais.</p>
                </div>
            `,
          focusConfirm: false,
          showCancelButton: false,
          allowOutsideClick: false,
          input: 'checkbox',
          inputValue: 0,
          inputPlaceholder: 'Estou ciente.',
          confirmButtonText: 'Continue <i class="fa fa-arrow-right"></i>',
          inputValidator: (result) => {
            return !result && 'Confirme a leitura';
          }
        });

        //  if (accept) {
        //    Swal.fire('Obrigado :)');
        // }
      };

      showTermsAndConditions();
    });
  </script>
  <script src="{{ url_for('static', filename='js/sweetalert2.min.js') }}"></script>


  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/chart.js/chart.umd.js"></script>
  <script src="static/assets/vendor/echarts/echarts.min.js"></script>
  <script src="static/assets/vendor/quill/quill.min.js"></script>
  <script src="static/assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="static/assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>

</body>

</html>