{% macro pagina_estatica(anterior, proxima, etapa, proxima_edicao='') %}



<form id="confirmacao-form" action="{{proxima}}" method="POST">
  
  {% if etapa =='8' %}
  <input type="text" class="form-control" id="valor" name="valor" required><br />
  {% elif etapa != '1' and etapa != '3' and etapa != '15' and etapa != '16' %}
  <div style="min-height:150px" id="editor"></div><br />
  {% endif %}

  {% if etapa !='1' %}
  <div style="margin-top: 20px"></div>
  <span>
    <a href="{{anterior}}" id="etapa-anterior" class="swal2-confirm swal2-styled" style="text-decoration: none;">
      Etapa Anterior
    </a>
    {% endif %}


  {% if etapa =='16'and proxima !='/salvar_edicao' %}
        <button type="submit" id="proxima-rota" class="swal2-confirm swal2-styled btn-next">
          Salvar e Finalizar
        </button>
        <!-- <button type="button" id="btn-login"  class="swal2-confirm swal2-styled btn-next" >Importar ETP</button> -->



  {% elif etapa !='1' and etapa!='16' and proxima =='/salvar_edicao' %}

  <a href="{{proxima_edicao}}" id="proxima_edicao" class="swal2-confirm swal2-styled" style="text-decoration: none;">
    Próxima Etapa edição
  </a>
        <button type="submit" id="proxima-rota" class="swal2-confirm swal2-styled btn-next">
          Finalizar Edição
        </button>

  {% else %}
        {% if etapa =='1' and proxima =='/salvar_edicao' %}

            <a href="{{anterior}}" id="etapa-anterior" class="swal2-confirm swal2-styled" style="text-decoration: none;">
              Próxima etapa
            </a>
            <button type="submit" id="proxima-rota" class="swal2-confirm swal2-styled btn-next">
              Salvar e Finalizar
            </button>
        
        {%elif etapa == '16' and proxima == '/salvar_edicao'%}
        <button type="submit" id="proxima-rota" class="swal2-confirm swal2-styled btn-next">
          Salvar e Finalizar
        </button>
          
        {%else %}
            <button type="submit" id="proxima-rota" class="swal2-confirm swal2-styled btn-next">
              Próxima etapa
            </button>
        {% endif  %}
 
    {% endif %}


</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<!-- SweetAlert2 CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">

<!-- Sua página_selenium.html -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.17/dist/sweetalert2.all.min.js"></script>

<script>
  // Função para enviar o formulário de login
  function enviarFormulario() {
    Swal.fire({
      title: 'Login',
      html: '<form id="login-form">' +
            '<input type="text" id="username" class="swal2-input" placeholder="Usuário">' +
            '<input type="password" id="password" class="swal2-input" placeholder="Senha">' +
            '</form>',
      focusConfirm: false,
      preConfirm: () => {
        const username = $('#username').val();
        const password = $('#password').val();

        // Enviar os dados de login para o backend (app.py) usando AJAX
        $.ajax({
          url: '/login_selenium',
          method: 'POST',
          data: { username: username, password: password },
          success: function (response) {
            // Se a autenticação for bem-sucedida, redireciona para a página do Selenium
            if (response.status === 'success') {
              window.location.href = '/pagina_selenium'; // Substitua '/pagina_selenium' pela rota correta do Selenium.
            } else {
              // Se a autenticação falhar, mostra uma mensagem de erro no SweetAlert2
              Swal.fire('Erro', 'Login ou senha inválidos', 'error');
            }
          },
          error: function (error) {
            console.error('Erro ao enviar dados de login:', error);
            Swal.fire('Erro', 'Ocorreu um erro no servidor', 'error');
          },
        });
      }
    });
  }

  // Adicionar o evento de clique ao botão para abrir o formulário de login
  document.getElementById('btn-login').addEventListener('click', enviarFormulario);
</script>



<script>
  $(document).ready(function () {
    var etapaValue = '{{etapa}}';
    var editor;
    var conteudoEditor; // Variável para armazenar o valor do editor ou do input
  
    if (etapaValue === '8') {
      // Verifica se o valor do input é vazio
      if ($('#valor').val() !== '') {
        conteudoEditor = $('#valor').val(); // Usa o valor do input
      }
    } else {
      editor = new Quill('#editor', {
        theme: 'snow',
        modules: {
          toolbar: [
            ['bold', 'italic', 'underline', 'strike'],        // Opções de formatação do texto
            ['link'],                                         // Opções de inserção de mídia
            [{ 'list': 'ordered' }, { 'list': 'bullet' }],    // Opções de listas ordenadas e não ordenadas
            [{ 'indent': '-1' }, { 'indent': '+1' }],         // Opções de recuo de parágrafo
            [{ 'header': [1, 2, 3, 4, 5, 6, false] }],        // Opções de cabeçalhos
            [{ 'align': [] }],                               // Opções de alinhamento de texto
            ['clean']                                        // Limpar formatação
          ]
        }
      });
      conteudoEditor = editor.root.innerHTML; // Usa o valor do editor
    }
  
    // Recupera o conteúdo do editor da sessão ou do input
    if (etapaValue === '8') {
      // Lógica específica para a etapa 8 usando o valor do input
      $.ajax({
        url: '/recuperar/8',
        method: 'GET',
        success: function (response) {
          $('#valor').val(response);
        },
        error: function (error) {
          console.error('Erro ao recuperar o conteúdo do editor');
        }
      });
    } else {
      // Lógica padrão usando o valor do editor
      $.ajax({
        url: '/recuperar/{{etapa}}',
        method: 'GET',
        success: function (response) {
          editor.root.innerHTML = response;
        },
        error: function (error) {
          console.error('Erro ao recuperar o conteúdo do editor');
        }
      });
    }
  
    $('#proxima-rota').on('click', function(event) {
      event.preventDefault(); // Evita o envio do formulário
  
      if (etapaValue === '8') {
        // Lógica específica para a etapa 8 usando o valor do input
        var inputContent = $('#valor').val();

        // Verifica se o valor do input está vazio
        if (inputContent.trim() === '') {
          // Exibe uma mensagem de erro informando que o valor é obrigatório
          Swal.fire({
            icon: 'error',
            title: 'Campo Obrigatorio',
            text: 'Por favor, preencha o campo valor antes de avançar para a próxima etapa.',
          });
          return; // Interrompe a execução da função e impede o envio do formulário
        }

        $.ajax({
          url: '/salvar/8',
          method: 'POST',
          data: {
            inputValue: inputContent // Valor do input
          },
          success: function(response) {
            console.log('Alterações salvas com sucesso');
  
            // Recupera as informações da sessão
            $.ajax({
              url: '/recuperar/8',
              method: 'GET',
              success: function(response) {
                // Atualiza o valor do input com as informações recuperadas
                $('#valor').val(response);
  
                // Redirecionar para a próxima etapa
                window.location.href = "{{ proxima }}";
              },
              error: function(error) {
                console.error('Erro ao recuperar as informações da sessão');
              },
            });
          },
          error: function(error) {
            console.error('Erro ao salvar as alterações');
          },
        });
      } else {
        // Lógica padrão usando o valor do editor
        var conteudoEditor = editor.root.innerHTML;
        
        if (etapaValue === '2' || etapaValue === '6' || etapaValue === '7' || etapaValue === '9') {
          if (conteudoEditor.trim() === '' || conteudoEditor === '<p><br></p>') {
            Swal.fire({
              icon: 'error',
              title: 'Campo Obrigatório',
              text: 'Por favor, preencha o campo antes de avançar para a próxima etapa.',
            });
            return;
          }
        }

        $.ajax({
          url: '/salvar/{{etapa}}',
          method: 'POST',
          data: {
            conteudo_editor: conteudoEditor
          },
          success: function(response) {
            console.log('Alterações salvas com sucesso');
  
            // Recupera as informações da sessão
            $.ajax({
              url: '/recuperar/{{etapa}}',
              method: 'GET',
              success: function(response) {
                // Atualiza o conteúdo do editor com as informações recuperadas
                editor.root.innerHTML = response;
  
                // Redirecionar para a próxima etapa
                window.location.href = "{{ proxima }}";
              },
              error: function(error) {
                console.error('Erro ao recuperar as informações da sessão');
              },
            });
          },
          error: function(error) {
            console.error('Erro ao salvar as alterações');
          },
        });
      }
    });



    $('#etapa-anterior').on('click', function(event) {
      event.preventDefault(); // Evita o envio do formulário
  
      if (etapaValue === '8') {
        // Lógica específica para a etapa 8 usando o valor do input
        var inputContent = $('#valor').val();
        $.ajax({
          url: '/salvar/8',
          method: 'POST',
          data: {
            inputValue: inputContent // Valor do input
          },
          success: function(response) {
            console.log('Alterações salvas com sucesso');
  
            // Recupera as informações da sessão
            $.ajax({
              url: '/recuperar/8',
              method: 'GET',
              success: function(response) {
                // Atualiza o valor do input com as informações recuperadas
                $('#valor').val(response);
  
                // Redirecionar para a próxima etapa
                window.location.href = "{{ anterior }}";
              },
              error: function(error) {
                console.error('Erro ao recuperar as informações da sessão');
              },
            });
          },
          error: function(error) {
            console.error('Erro ao salvar as alterações');
          },
        });
      } else {
        // Lógica padrão usando o valor do editor
        var conteudoEditor = editor.root.innerHTML;
        $.ajax({
          url: '/salvar/{{etapa}}',
          method: 'POST',
          data: {
            conteudo_editor: conteudoEditor
          },
          success: function(response) {
            console.log('Alterações salvas com sucesso');
  
            // Recupera as informações da sessão
            $.ajax({
              url: '/recuperar/{{etapa}}',
              method: 'GET',
              success: function(response) {
                // Atualiza o conteúdo do editor com as informações recuperadas
                editor.root.innerHTML = response;
  
                // Redirecionar para a próxima etapa
                window.location.href = "{{ anterior }}";
              },
              error: function(error) {
                console.error('Erro ao recuperar as informações da sessão');
              },
            });
          },
          error: function(error) {
            console.error('Erro ao salvar as alterações');
          },
        });
      }
    });




    $('#proxima_edicao').on('click', function(event) {
      event.preventDefault(); // Evita o envio do formulário
  
      if (etapaValue === '8') {
        // Lógica específica para a etapa 8 usando o valor do input
        var inputContent = $('#valor').val();
        $.ajax({
          url: '/salvar/8',
          method: 'POST',
          data: {
            inputValue: inputContent // Valor do input
          },
          success: function(response) {
            console.log('Alterações salvas com sucesso');
  
            // Recupera as informações da sessão
            $.ajax({
              url: '/recuperar/8',
              method: 'GET',
              success: function(response) {
                // Atualiza o valor do input com as informações recuperadas
                $('#valor').val(response);
  
                // Redirecionar para a próxima etapa
                window.location.href = "{{ proxima_edicao }}";
              },
              error: function(error) {
                console.error('Erro ao recuperar as informações da sessão');
              },
            });
          },
          error: function(error) {
            console.error('Erro ao salvar as alterações');
          },
        });
      } else {
        // Lógica padrão usando o valor do editor
        var conteudoEditor = editor.root.innerHTML;
        $.ajax({
          url: '/salvar/{{etapa}}',
          method: 'POST',
          data: {
            conteudo_editor: conteudoEditor
          },
          success: function(response) {
            console.log('Alterações salvas com sucesso');
  
            // Recupera as informações da sessão
            $.ajax({
              url: '/recuperar/{{etapa}}',
              method: 'GET',
              success: function(response) {
                // Atualiza o conteúdo do editor com as informações recuperadas
                editor.root.innerHTML = response;
  
                // Redirecionar para a próxima etapa
                window.location.href = "{{ proxima_edicao }}";
              },
              error: function(error) {
                console.error('Erro ao recuperar as informações da sessão');
              },
            });
          },
          error: function(error) {
            console.error('Erro ao salvar as alterações');
          },
        });
      }
    });





  });

  // Função para salvar as alterações no editor
function salvarAlteracoes() {
  if (etapaValue === '8') {
    // Lógica específica para a etapa 8 usando o valor do input
    var inputContent = $('#valor').val();
    $.ajax({
      url: '/salvar/8',
      method: 'POST',
      data: {
        inputValue: inputContent // Valor do input
      },
      success: function(response) {
        console.log('Alterações salvas com sucesso');
      },
      error: function(error) {
        console.error('Erro ao salvar as alterações');
      },
    });
  } else {
    // Lógica padrão usando o valor do editor
    var conteudoEditor = editor.root.innerHTML;
    $.ajax({
      url: '/salvar/{{etapa}}',
      method: 'POST',
      data: {
        conteudo_editor: conteudoEditor
      },
      success: function(response) {
        console.log('Alterações salvas com sucesso');
      },
      error: function(error) {
        console.error('Erro ao salvar as alterações');
      },
    });
  }
}
  
</script>


{% endmacro %}