<!DOCTYPE html>
<html>
<head>
  <title>Edição de Formulário</title>
  <script src="{% static 'js/quilljq.js' %}"></script>
  <script src="{% static 'js/quill.js' %}"></script>
  <link href="{% static 'css/quillsnow.css' %}" rel="stylesheet">

</head>

<body>
  <div id="editores"></div>
  <script>
    $(document).ready(function() {
      // Cria os editores Quill para cada etapa/sessão
      var editores = {};
      for (var etapa = 1; etapa <= 16; etapa++) {
        var editorId = 'editor-' + etapa;
        var editorDiv = $('<div>').attr('id', editorId);
        $('#editores').append(editorDiv);

        editores[etapa] = new Quill('#' + editorId, {
          theme: 'snow'
        });

        // Recupera o conteúdo do editor da sessão correspondente
        (function(etapa) {
          $.ajax({
            url: '/recuperar/' + etapa,
            method: 'GET',
            success: function(response) {
              editores[etapa].root.innerHTML = response;
            },
            error: function(error) {
              console.error('Erro ao recuperar o conteúdo do editor da etapa ' + etapa);
            }
          });
        })(etapa);
      }

      // Salva as alterações em cada editor a cada 1 minuto
      setInterval(function() {
        for (var etapa = 1; etapa <= 16; etapa++) {
          var editor = editores[etapa];
          var conteudoEditor = editor.root.innerHTML;

          $.ajax({
            url: '/salvar/' + etapa,
            method: 'POST',
            data: {
              conteudo_editor: conteudoEditor
            },
            success: function(response) {
              console.log('Alterações salvas com sucesso na etapa ' + etapa);
            },
            error: function(error) {
              console.error('Erro ao salvar as alterações na etapa ' + etapa);
            }
          });
        }
      }, 10000); // 60000 milissegundos = 1 minuto
    });
  </script>
</body>
</html>
